*{
    box-sizing: border-box;
    margin: 0;
}

.Window1{
    min-height: 100vh;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../images/Background_food.png) center no-repeat;
    background-size: cover;
}

.Register{
    min-height: 70vh;
    min-width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid orangered;
    background: rgba(255, 255, 255, 0.89);
}

.Head{
    padding-bottom: 15px;
    font-size: 28px;
    color: rgb(255, 38, 0);
}

.Image{
    padding-bottom: 20px;
}

.Form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.Size_block{
    margin: 15px 0;
    padding: 15px 50px;
    font-size: 18px;
    text-align: center;
    border: 1px solid rgb(255, 30, 0);
}

.Confirm{
    padding: 20px 0;
    font-size: 20px;
}

.Checkbox{
    min-height: 17px;
    min-width: 30px;
}

.Confirm_button{
    padding: 20px 100px;
    font-size: 20px;
    font-weight: 600;
    background-color: white;
    border: 2px solid red;
    color: red;
}

::placeholder{
    color: orangered;
}

@media (max-width: 414px) {
    .Register{
        min-height: 85vh;
        min-width: 95%;
    }
}