* {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100vh;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: minmax(100px, auto) 1fr minmax(100px, auto);
}

.grid {
  display: grid;
}

.grid-header {
  grid-template-columns: repeat(4, auto);
  justify-content: space-around;
  align-items: center;
  column-gap: 20px;
}

.grid-header,
.grid-div,
.grid-footer {
  grid-column: span 3;
}

.grid-header,
.grid-nav,
.grid-main,
.grid-aside,
article,
.grid-footer {
  border: 2px solid white;
}

.grid-header,
.grid-header > a,
.grid-nav a,
article,
.grid-footer {
  background-color: #313132;
}

.grid-header > a {
  border: 3px solid white;
  padding: 20px 40px;
}

.grid-header > a,
.grid-nav a {
  text-decoration: none;
}

.grid-header > a,
p,
article {
  font-size: 20px;
}

.grid-header > a,
.grid-nav a,
article,
.grid-footer {
  color: white;
}

.grid-div {
  grid-template-columns: minmax(200px, auto) 1fr minmax(200px, auto);
}

.grid-nav a {
  display: block;
  font-size: 25px;
  border: 1px solid white;
  padding: 30px;
}

ul {
  padding: 0;
  list-style: none;
}

.grid-main {
  grid-template-columns: 1fr;
  row-gap: 10px;
  background-color: rgb(221, 215, 215);
}

.section1 {
  grid-template-columns: 1fr 3fr;
}

.section1,
.section2 {
  column-gap: 10px;
}

.section2 {
  grid-template-columns: 3fr 1fr;
}

img {
  width: 350px;
  justify-self: center;
}

img,
p {
  align-self: center;
}

article {
  padding: 125px 30px;
}

.grid-footer {
  justify-content: center;
  font-size: 30px;
}
