$input-padding-x: 40px
$modal-backdrop-bg: rgba(0, 0, 0, 0.664)
$modal-backdrop-opacity: 1

@import '../node_modules/bootstrap/scss/bootstrap.scss'

//Extends and Mixins
%reset-margin
    margin: 0

%reset-padding
    padding: 0

@mixin marginAndPadding($margin: 0, $padding: 0)
    margin: $margin
    padding: $padding

@mixin widthAndHeight($width: 0px, $height: 0px)
    width: $width
    height: $height

@mixin minAndMaxWidth($minWidth: 0px, $maxWidth: 0px)
    min-width: $minWidth
    max-width: $maxWidth

@mixin fontSizeAndWeight($fontSize: 0px, $fontWeight: 0)
    font-size: $fontSize
    font-weight: $fontWeight

//Common rules
body
    height: 4459px

h1,
h3,
h6
    color: black

.container-fluid
    padding: 0

.row
    @extend %reset-margin

.col-2,
.col-3,
.col-4,
.col-6,
.col-8,
.col-9,
.col-10,
.col-12
    @include marginAndPadding

.form-control:focus
    border-color: black
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)

.modal-backdrop
    position: static

//Modal Window
.modal-content
    @include minAndMaxWidth($minWidth: 250px, $maxWidth: 450px)
    @extend %reset-padding

.modal-header
    height: 120px

.registration-ubisoft-logo
    @include widthAndHeight($width: 60px, $height: 60px)

.registration-brand-name
    @extend %reset-margin
    @include fontSizeAndWeight($fontSize: 30px, $fontWeight: 900)

.modal-body
    height: 400px
    @extend %reset-margin
    border: 1px solid grey

.modal-first-text
    font-size: 25px

.modal-second-text
    font-size: 20px

.input-section
    margin-bottom: 35px

.email-icon,
.password-icon
    position: absolute
    top: 21px
    left: 10px

.check-registration-wrapper
    padding-left: 10px

#saveData
    @include widthAndHeight($width: 25px, $height: 25px)
    margin: 2px 0 0 0

.remember-label
    padding-left: 10px
    font-size: 20px

.forget-registration-text
    padding-right: 10px
    font-size: 20px

.registration-button-submit
    margin-top: 50px

.modal-footer
    height: 150px
    border: 1px solid gray

.registration-hr
    border: 1px solid black

.privacy-information
    font-weight: 900
    text-decoration: none
    color: #0077e5

//Header
.header
    position: fixed
    left: 0
    right: 0
    height: 50px
    z-index: 2
    @extend %reset-padding

.header-wrapper
    height: 40px

.header-button
    margin-left: 10px
    padding: 3px 12px
    font-size: 20px

.navbar-brand
    @include marginAndPadding

.header-brand-wrapper
    margin-right: 30px

.ubisoft-logo
    @include widthAndHeight($width: 30px, $height: 30px)

.brand-name
    display: inline-block
    @extend %reset-margin
    font-weight: 900

.header-toggler-cross
    display: none

//Header menu    
.header-toggler
    margin-right: 10px

.header-drop-menu
    width: 100%
    @extend %reset-margin
    background-color: #212529

.header-menu
    height: 100vh
    margin-top: 4px
    padding: 20px 40px
    background-repeat: no-repeat
    transition: background-image 1s

#all-games
    margin-top: -55px
    padding-top: 55px

.header-drop-ancor
    @include fontSizeAndWeight($fontSize: 18px, $fontWeight: 700)
    color: white

.header-drop-ancor:hover
    color: green

//Main
.window-1
    min-height: 30vh

.main-image
    height: auto
    max-width: 100%
    margin-top: 50px

.main-greetings-wrapper
    max-width: 380px
    margin: -100px auto
    background-color: white

.main-greetings-header-text
    margin-bottom: 15px
    padding-top: 20px
    font-size: 38px

.main-greetings-text
    font-size: 18px

.window-2
    margin-top: 125px
    justify-content: center

.main-window-2-header
    font-size: 25px

//First carousel
.first-carousel-arrow
    position: absolute
    top: 175px
    padding: 3px 8px
    background: #ddd
    border-radius: 15px
    border: 1px solid gray
    font-size: 27px
    line-height: 24px

.first-carousel-arrow:hover
    background: green
    border: 1px solid white
    color: white
    cursor: pointer

.first-carousel-prev
    left: 7px

.first-carousel-next
    right: 7px

.first-carousel-wrapper
    position: relative
    width: 300px
    padding: 0

.first-carousel-inner-wrapper
    overflow: hidden

.first-carousel-gallery
    display: flex
    width: 9999px

.first-carousel-link
    text-decoration: none

.first-carousel-card
    display: flex
    align-items: center
    width: 300px
    height: 450px
    border: 0

.first-carousel-image
    width: 300px
    height: 350px

.first-carousel-card-header
    border: 0

.first-carousel-card-body
    border: 0

.first-carousel-card-body-text
    margin-top: 10px
    font-size: 18px

.first-carousel-footer-icons
    width: 20px
    height: 20px

.first-carousel-footer-icons-double
    width: 24px
    height: 24px

@media (max-width: 390px)
    //Modal Window
    .modal-body
        height: 350px

    .modal-first-text
        font-size: 20px

    .modal-second-text
        font-size: 17px

    .check-registration-wrapper
        display: flex

    #saveData
        width: 13px
        height: 13px

    .remember-label
        padding-left: 10px
        font-size: 13px

    .forget-registration-text
        padding-right: 10px
        font-size: 13px

    .registration-button-submit
        margin-top: 10px

    .privacy-information
        font-size: 12px

    //Header
    .header-button
        font-size: 16px

    .header-brand-wrapper
        margin-right: 0

    .ubisoft-logo
        margin-right: 12px

    .brand-name
        display: none

    .header-menu
        align-items: center
        height: 300px

    //Main
    .main-greetings-wrapper
        max-width: 270px
        margin: -50px auto

    .main-greetings-header-text
        margin-bottom: 15px
        padding-top: 15px
        font-size: 28px

    .main-greetings-text
        font-size: 17px

    .window-2
        justify-content: center
        margin-top: 75px

    .main-window-2-header
        font-size: 20px

    //First carousel
    .first-carousel-arrow
        position: absolute
        top: 175px
        padding: 3px 8px
        background: #ddd
        border-radius: 15px
        border: 1px solid gray
        font-size: 27px
        line-height: 24px

    .first-carousel-arrow:hover
        background: green
        border: 1px solid white
        color: white
        cursor: pointer

    .first-carousel-prev
        left: 7px

    .first-carousel-next
        right: 7px

    .first-carousel-wrapper
        position: relative
        width: 250px
        padding: 0

    .first-carousel-inner-wrapper
        overflow: hidden

    .first-carousel-gallery
        display: flex
        width: 9999px

    .first-carousel-link
        text-decoration: none

    .first-carousel-card
        display: flex
        align-items: center
        width: 250px
        height: 450px
        border: 0

    .first-carousel-image
        width: 250px
        height: 350px

    .first-carousel-card-header
        border: 0

    .first-carousel-card-body
        border: 0

    .first-carousel-card-body-text
        margin-top: 10px
        font-size: 18px

    .first-carousel-footer-icons
        width: 20px
        height: 20px

    .first-carousel-footer-icons-double
        width: 24px
        height: 24px

@include media-breakpoint-up(sm)
    //Modal Window
    .modal-body
        height: 420px

    .text-label
        font-size: 20px

    //Header
    .header-drop-ancor
        font-size: 20px

    //Main
    .main-greetings-wrapper
        max-width: 550px
        margin: -150px auto

    .main-greetings-header-text
        font-size: 45px

    .main-greetings-text
        font-size: 22px

    .window-2
        margin-top: 175px

    .main-window-2-header
        font-size: 28px

    //First carousel
    .first-carousel-wrapper
        width: 550px

    .first-carousel-card
        width: 265px
        margin: 0 5px

    .first-carousel-image
        width: 265px

@include media-breakpoint-up(md)
    //Modal Window
    .registration-button-submit
        margin-top: 40px

    .footer-text
        font-size: 20px

    .privacy-information
        font-size: 16px

    //Header
    .header-drop-ancor
        font-size: 22px

    //Main
    .main-greetings-wrapper
        max-width: 750px
        margin: -200px auto

    .main-greetings-header-text
        font-size: 60px
        padding-top: 25px

    .main-greetings-text
        font-size: 23px

    .window-2
        margin-top: 200px

    .main-window-2-header
        font-size: 35px

    //First carousel
    .first-carousel-arrow
        font-size: 29px
        line-height: 23px

    .first-carousel-prev
        left: 15px

    .first-carousel-next
        right: 15px

    .first-carousel-wrapper
        width: 740px

    .first-carousel-card
        width: 350px
        margin: 0 10px

    .first-carousel-card-header
        padding: 0

    .first-carousel-image
        width: 350px

    .first-carousel-card-body-text
        margin-top: 15px
        font-size: 20px

    .first-carousel-footer-icons
        width: 25px
        height: 25px

    .first-carousel-footer-icons-double
        width: 30px
        height: 30px

@include media-breakpoint-up(lg)
    //Header
    .navbar-brand
        margin-right: 10px

    //Header menu
    .header-wrapper-menu
        justify-content: center
        height: 50px

    .header-menu
        justify-content: space-evenly
        align-items: center
        height: 50px
        margin-top: 0
        padding: 0
        background-image: url('')

    .header-drop-ancor
        padding: 0
        font-size: 18px

    //Main
    .main-greetings-wrapper
        max-width: 950px
        margin: -250px auto

    .main-greetings-header-text
        font-size: 85px
        margin-bottom: 25px

    .main-greetings-text
        font-size: 26px

    .window-2
        margin-top: 175px

    .main-window-2-header
        font-size: 38px

    //First carousel
    .first-carousel-wrapper
        margin-top: 20px

    .first-carousel-wrapper
        width: 980px

    .first-carousel-card
        width: 235px
        margin: 0 5px

    .first-carousel-image
        width: 235px

@include media-breakpoint-up(xl)
    //Main
    .main-greetings-wrapper
        max-width: 1150px
        margin: -300px auto

    .main-greetings-header-text
        font-size: 100px
        padding-top: 30px

    .main-greetings-text
        font-size: 40px

    .window-2
        margin-top: 300px

    .main-window-2-header
        font-size: 45px

    //First carousel
    .first-carousel-wrapper
        margin-top: 25px

    .first-carousel-wrapper
        width: 1180px

    .first-carousel-card
        width: 275px
        margin: 0 10px

    .first-carousel-image
        width: 275px

    .first-carousel-card-body-text
        margin-top: 20px
        font-size: 22px

    .first-carousel-footer-icons
        width: 30px
        height: 30px

    .first-carousel-footer-icons-double
        width: 35px
        height: 35px

@include media-breakpoint-up(xxl)
    //Main
    .main-greetings-wrapper
        max-width: 1200px
        margin: -350px auto

    .main-greetings-header-text
        font-size: 87px

    .main-greetings-text
        font-size: 30px

    .window-2
        margin-top: 125px

    .main-window-2-header
        font-size: 50px

    //First carousel
    .first-carousel-arrow
        top: 250px
        padding: 3px 10px
        border-radius: 21px
        font-size: 39px
        line-height: 38px

    .first-carousel-prev
        left: 25px

    .first-carousel-next
        right: 25px

    .first-carousel-wrapper
        margin-top: 45px

    .first-carousel-wrapper
        width: 1390px

    .first-carousel-card
        width: 325px
        height: 580px
        margin: 0 10px

    .first-carousel-image
        width: 325px
        height: 500px

    .first-carousel-card-body-text
        margin-top: 15px
        font-size: 23px

    .first-carousel-footer-icons
        width: 30px
        height: 30px

    .first-carousel-footer-icons-double
        width: 35px
        height: 35px
