$input-padding-x: 40px
$modal-backdrop-bg: rgba(0, 0, 0, 0.664)
$modal-backdrop-opacity: 1

@import '../node_modules/bootstrap/scss/bootstrap.scss'

//Extends and Mixins
%reset-margin
    margin: 0

%reset-padding
    padding: 0

@mixin marginAndPadding($margin: 0, $padding: 0)
    margin: $margin
    padding: $padding

@mixin widthAndHeight($width: 0px, $height: 0px)
    width: $width
    height: $height

@mixin minAndMaxWidth($minWidth: 0px, $maxWidth: 0px)
    min-width: $minWidth
    max-width: $maxWidth

@mixin fontSizeAndWeight($fontSize: 0px, $fontWeight: 0)
    font-size: $fontSize
    font-weight: $fontWeight

//Common rules
h1,
h3,
h6
    color: black

.container-fluid
    padding: 0

.row
    @extend %reset-margin

.col-2,
.col-3,
.col-4,
.col-6,
.col-8,
.col-9,
.col-10,
.col-12
    @include marginAndPadding

.form-control:focus
    border-color: black
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)

.modal-backdrop
    position: static

.offcanvas-backdrop
    height: 100%

//Modal Window
.modal-content
    @include minAndMaxWidth($minWidth: 250px, $maxWidth: 450px)
    @extend %reset-padding

.modal-header
    height: 120px

.registration-ubisoft-logo
    @include widthAndHeight($width: 60px, $height: 60px)

.registration-brand-name
    @extend %reset-margin
    @include fontSizeAndWeight($fontSize: 30px, $fontWeight: 900)

.modal-body
    height: 400px
    @extend %reset-margin
    border: 1px solid grey

.modal-first-text
    font-size: 25px

.modal-second-text
    font-size: 20px

.input-section
    margin-bottom: 35px

.email-icon,
.password-icon
    position: absolute
    top: 21px
    left: 10px

.check-registration-wrapper
    padding-left: 10px

#saveData
    @include widthAndHeight($width: 25px, $height: 25px)
    margin: 2px 0 0 0

.remember-label
    padding-left: 10px
    font-size: 20px

.forget-registration-text
    padding-right: 10px
    font-size: 20px

.registration-button-submit
    margin-top: 50px

.modal-footer
    height: 150px
    border: 1px solid gray

.registration-hr
    border: 1px solid black

.privacy-information
    font-weight: 900
    text-decoration: none
    color: #0077e5

//Header
.header
    position: fixed
    left: 0
    right: 0
    height: 50px
    z-index: 2
    @extend %reset-padding

.header-wrapper
    height: 40px

.header-button
    margin-left: 10px
    padding: 3px 12px
    font-size: 20px

.navbar-brand
    @include marginAndPadding

.header-brand-wrapper
    margin-right: 30px

.ubisoft-logo
    @include widthAndHeight($width: 30px, $height: 30px)

.brand-name
    display: inline-block
    @extend %reset-margin
    font-weight: 900

.header-toggler-cross
    display: none

//Header menu    
.header-toggler
    margin-right: 10px

.header-drop-menu
    width: 100%
    @extend %reset-margin
    background-color: #212529

.header-menu
    height: 100vh
    margin-top: 4px
    padding: 20px 40px
    background-repeat: no-repeat
    transition: background-image 1s

#all-games,
#news,
#photo,
#discussion,
#help,
#more-than-games
    margin-top: -55px
    padding-top: 55px

.header-drop-ancor
    @include fontSizeAndWeight($fontSize: 18px, $fontWeight: 700)
    color: white

.header-drop-ancor:hover
    color: #527e6e

//Main
//Window 1    
.window-1
    min-height: 30vh

.main-image
    height: auto
    max-width: 100%
    margin-top: 50px

.main-greetings-wrapper
    max-width: 380px
    margin: -100px auto
    background-color: white

.main-greetings-header-text
    margin-bottom: 15px
    padding-top: 20px
    font-size: 38px

.main-greetings-text
    font-size: 18px

//Window 2      
.window-2
    flex-direction: column
    justify-content: center
    align-items: center
    margin-top: 125px

.window-2-header
    font-size: 23px

//First carousel
.first-carousel-arrow
    position: absolute
    top: 175px
    padding: 3px 8px
    background: #ddd
    border-radius: 15px
    border: 1px solid gray
    font-size: 27px
    line-height: 24px

.first-carousel-arrow:hover
    background: #527e6e
    border: 1px solid white
    color: white
    cursor: pointer

.first-carousel-prev
    left: 7px

.first-carousel-next
    right: 7px

.first-carousel-wrapper
    position: relative
    width: 300px
    padding: 0

.first-carousel-inner-wrapper
    overflow: hidden

.first-carousel-gallery
    display: flex
    width: 9999px

.first-carousel-link
    text-decoration: none

.first-carousel-card
    display: flex
    align-items: center
    width: 300px
    height: 450px
    border: 0

.first-carousel-card-header
    border: 0

.first-carousel-image
    width: 300px
    height: 350px

.first-carousel-card-body
    border: 0

.first-carousel-card-body-text
    margin-top: 10px
    font-size: 21px

.first-carousel-footer-icons
    width: 25px
    height: 25px

.first-carousel-footer-icons-double
    width: 30px
    height: 30px

.window-2-link
    width: 230px
    margin-top: 15px
    border-radius: 25px
    font-size: 21px
    font-weight: 900
    color: white
    background-color: #527e6e

.window-2-link:hover
    border-color: #527e6e
    color: #527e6e
    background-color: white

//Window 3
.window-3
    flex-direction: column
    justify-content: space-between
    align-items: center
    min-width: 250px
    height: 540px
    margin: 20px 0
    margin-top: 80px
    background-image: url('../images/Main/mainBackground/historyTour.jpg')
    background-position: center
    background-repeat: no-repeat
    transition: background-image 1s

.window-3-header
    margin-top: 5px
    margin-bottom: 0
    font-size: 23px
    font-weight: 900
    color: white

.window-3-link
    width: 230px
    margin-bottom: 5px
    border-radius: 25px
    font-size: 21px
    font-weight: 900
    color: white
    background-color: #ab211a

.window-3-link:hover
    border-color: #ab211a
    color: #ab211a
    background-color: white

//Window 4  
.window-4
    flex-direction: column
    justify-content: center
    align-items: center
    margin-top: 80px

.window-4-header
    font-size: 23px

//Second carousel
.second-carousel-arrow
    position: absolute
    top: 565px
    padding: 3px 8px
    background: #ddd
    border-radius: 15px
    border: 1px solid gray
    font-size: 27px
    line-height: 24px

.second-carousel-arrow:hover
    background: #527e6e
    border: 1px solid white
    color: white
    cursor: pointer

.second-carousel-prev
    left: 7px

.second-carousel-next
    right: 7px

.second-carousel-current-page
    position: absolute
    top: 565px
    left: 116px
    font-size: 23px
    font-weight: 500

.second-carousel-wrapper
    position: relative
    width: 300px
    padding: 0

.second-carousel-inner-wrapper
    overflow: hidden

.second-carousel-gallery
    display: flex
    width: 9999px

.second-carousel-link
    text-decoration: none

.second-carousel-card
    display: flex
    align-items: center
    width: 300px
    height: 600px
    border: 0

.second-carousel-card > div
    margin: 10px 5px 0px 5px

.second-carousel-card-header
    border: 0
    padding: 0

.second-carousel-image
    width: 290px
    height: 150px

.second-carousel-card-body
    border: 0

.second-carousel-card-body-date
    margin: 10px 0
    font-size: 19px

.second-carousel-card-body-header-text
    margin-top: 10px 0
    font-size: 21px

.second-carousel-card-body-main-text
    margin-bottom: 0
    font-size: 19px

.second-carousel-card-footer
    align-self: flex-start

.second-carousel-card-footer-link
    font-size: 21px
    text-decoration: none
    color: #527e6e

.second-carousel-card-footer-link:visited
    color: #527e6e

.second-carousel-card-footer-link:hover
    text-decoration: underline

.second-carousel-card-footer-link:active
    color: #527e6e

.window-4-link
    width: 230px
    margin-top: 15px
    border-radius: 25px
    font-size: 21px
    font-weight: 900
    color: white
    background-color: #527e6e

.window-4-link:hover
    border-color: #527e6e
    color: #527e6e
    background-color: white

//Window 5
.window-5
    margin-top: 80px

.window-5-header
    font-size: 23px

.window-5-text
    margin-top: 20px
    margin-bottom: 0
    font-size: 19px

.photo-wrapper
    display: flex
    flex-direction: column
    align-items: center
    height: 960px
    padding: 0
    border: 0

.photo-card
    align-items: center
    margin-top: 40px
    border: 0

.photo-card-header
    padding: 0
    border: 0

.photo-card-image
    width: 350px
    margin: 0 20px

.photo-card-body
    border: 0

.photo-card-body-header
    margin-top: 20px
    font-size: 21px
    font-weight: 900

.photo-card-link
    width: 230px
    margin-top: 10px
    border-radius: 25px
    font-size: 21px
    font-weight: 500
    color: white
    background-color: #527e6e

.photo-card-link:hover
    border-color: #527e6e
    color: #527e6e
    background-color: white

//Window 6
.window-6
    height: 800px
    margin-top: 200px

.icons-wrapper
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center
    height: 880px
    padding: 0
    border: 0

.icon-card
    align-items: center
    border: 0

.icon-card-header
    padding: 0
    border: 0

.icon-card-image
    width: 390px

.icon-card-body
    border: 0

.icon-card-body-header
    font-size: 21px
    font-weight: 900

.icon-card-body-text
    font-size: 19px

.icon-card-link
    width: 230px
    margin-top: 10px
    border-radius: 25px
    font-size: 21px
    font-weight: 500
    color: white
    background-color: #527e6e

.icon-card-link:hover
    border-color: #527e6e
    color: #527e6e
    background-color: white

//Window 7
.window-7
    flex-direction: column
    justify-content: space-between
    align-items: center
    min-width: 250px
    height: 540px
    margin: 20px 0
    margin-top: 160px
    background-image: url('../images/Main/mainBackgroundStories/stories.jpeg')
    background-position: center
    background-repeat: no-repeat
    transition: background-image 1s

.window-7-header
    margin-top: 5px
    margin-bottom: 0
    font-size: 23px
    font-weight: 900
    color: black

.window-7-link
    width: 230px
    margin-bottom: 5px
    border-radius: 25px
    font-size: 21px
    font-weight: 900
    color: white
    background-color: #ab211a

.window-7-link:hover
    border-color: #ab211a
    color: #ab211a
    background-color: white

//Window 8
.window-8
    margin-top: 80px

.window-8-header
    font-size: 38px
    font-weight: 900

.window-8-first-text
    margin-top: 25px
    font-size: 18px

.window-8-links-and-rating-wrapper
    margin-top: 40px
    padding: 0

.window-8-links-and-text-wrapper
    padding: 0

.window-8-second-text
    font-size: 18px

.window-8-links-wrapper
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    width: 300px
    margin: 0 auto
    padding: 0px 38px

.window-8-links-icon
    width: 86px
    height: 86px
    margin-bottom: 30px
    border: 2px solid #656565

.window-8-links-animation
    transition: margin-top 0.5s, opacity 0.5s

.window-8-footer-text
    margin-top: 20px
    font-size: 12px

.window-8-text-and-rating-wrapper
    display: flex
    flex-direction: column

.window-8-rating-text
    margin-top: 20px
    font-size: 18px

.window-8-rating
    width: 75px
    height: 80px
    margin: 0 auto
    padding: 0

//Footer
.footer
    display: flex
    flex-direction: column
    margin-top: 80px
    background-color: #212529

.footer-open-language-button::before
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 20 20' fill='%23ffffff'%3E%3Cpath id='ios-globe' data-name='ios-globe' d='M13.373,3.375h-.034a10,10,0,0,0,0,20h.034a10,10,0,0,0,0-20ZM22.034,12.7H18.3a18.938,18.938,0,0,0-.471-3.663,14.641,14.641,0,0,0,2.389-1.01A8.614,8.614,0,0,1,22.034,12.7Zm-9.334,0H9.729a17.093,17.093,0,0,1,.423-3.322,14.62,14.62,0,0,0,2.547.341Zm0,1.346v2.976a14.682,14.682,0,0,0-2.547.341,17.09,17.09,0,0,1-.423-3.317Zm1.346,0h2.946a16.992,16.992,0,0,1-.423,3.313,14.344,14.344,0,0,0-2.523-.337Zm0-1.346V9.721a14.682,14.682,0,0,0,2.523-.337,17.042,17.042,0,0,1,.423,3.317ZM19.3,7.034a13.351,13.351,0,0,1-1.826.745A9.928,9.928,0,0,0,16.2,5.159,8.7,8.7,0,0,1,19.3,7.034Zm-3.1,1.091a13.524,13.524,0,0,1-2.163.288V4.885A5.825,5.825,0,0,1,16.208,8.125ZM12.7,4.865V8.409a13.291,13.291,0,0,1-2.187-.293A5.822,5.822,0,0,1,12.7,4.865Zm-2.192.308a10.006,10.006,0,0,0-1.264,2.6,13.651,13.651,0,0,1-1.8-.74A8.567,8.567,0,0,1,10.508,5.173ZM6.523,8.034a14.35,14.35,0,0,0,2.365,1A18.174,18.174,0,0,0,8.417,12.7h-3.7A8.57,8.57,0,0,1,6.523,8.034ZM4.711,14.048h3.7a18.889,18.889,0,0,0,.471,3.663,15.226,15.226,0,0,0-2.365,1A8.616,8.616,0,0,1,4.711,14.048Zm2.725,5.668a13.45,13.45,0,0,1,1.807-.74,10.042,10.042,0,0,0,1.264,2.606A8.78,8.78,0,0,1,7.437,19.716Zm3.076-1.087a13.361,13.361,0,0,1,2.187-.293v3.548A5.814,5.814,0,0,1,10.513,18.63Zm3.533,3.236V18.332a13.524,13.524,0,0,1,2.163.288A5.823,5.823,0,0,1,14.046,21.865Zm2.163-.274a9.928,9.928,0,0,0,1.274-2.62,13.131,13.131,0,0,1,1.826.75A8.8,8.8,0,0,1,16.208,21.591Zm4.013-2.875a14.641,14.641,0,0,0-2.389-1.01,18.839,18.839,0,0,0,.471-3.659h3.73A8.577,8.577,0,0,1,20.222,18.716Z' transform='translate(-3.375 -3.375)'/%3E%3C/svg%3E%0A")
    margin-right: 10px

.footer-open-language-button
    display: flex
    justify-content: center
    align-items: start
    margin-top: 20px
    font-size: 20px
    font-weight: 900
    color: white

.footer-open-language-button:hover
    border: 1px solid #212529
    color: white

.footer-open-language-button::after
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='arrow-down-mini down' viewBox='-122.9 121.1 105.9 61.9' width='10px' height='10px' style='fill: %23ffffff;'%3E%3Cpath d='M-63.2 180.3l43.5-43.5c1.7-1.7 2.7-4 2.7-6.5s-1-4.8-2.7-6.5c-1.7-1.7-4-2.7-6.5-2.7s-4.8 1-6.5 2.7L-69.9 161l-37.2-37.2c-1.7-1.7-4-2.7-6.5-2.7s-4.8 1-6.5 2.6c-1.9 1.8-2.8 4.2-2.8 6.6 0 2.3.9 4.6 2.6 6.5 11.4 11.5 41 41.2 43 43.3l.2.2c3.6 3.6 10.3 3.6 13.9 0z'%3E%3C/path%3E%3C/svg%3E")
    margin-left: 10px

.footer-open-language-button:focus
    border: 1px solid #212529
    color: white

//Footer offcanvas
.offcanvas-header
    padding: 10px

.footer-offcanvas-header-text
    color: white

.offcanvas-footer-button
    border: 0
    background-color: #212529

.offcanvas-hr
    width: 90%
    margin: 0 auto
    border: 1px solid white
    opacity: 0.7

.offcanvas-language-wrapper
    text-decoration: none

.offcanvas-language::before
    content: ">"
    margin-right: 5px
    font-size: 17px

.offcanvas-language
    margin: 0
    font-size: 14px
    color: white

.offcanvas-language-active
    color: #527e6e

.offcanvas-language:hover
    color: #527e6e

//Continue footer
.footer-company-wrapper-links
    display: flex
    flex-direction: column
    align-items: center
    margin-top: 10px

.footer-company-link
    padding: 10px 0
    font-size: 18px
    font-weight: 900
    text-decoration: none
    color: white

.footer-company-link:hover
    text-decoration: underline
    color: white

.footer-logo-wrapper
    display: flex
    justify-content: center
    margin-top: 25px
    text-decoration: none

.footer-ubisoft-logo
    width: 30px
    height: 30px
    margin-right: 5px

.footer-logo-name
    font-size: 20px
    font-weight: 900
    color: white

.footer-company-wrapper-rules
    display: flex
    flex-direction: column
    align-items: center
    margin-top: 10px

.footer-company-rule
    padding: 10px 0
    font-size: 18px
    font-weight: 900
    text-decoration: none
    color: white

.footer-company-rule:hover
    text-decoration: underline
    color: white

@media (max-width: 390px)
    //Modal Window
    .modal-body
        height: 350px

    .modal-first-text
        font-size: 20px

    .modal-second-text
        font-size: 17px

    .check-registration-wrapper
        display: flex

    #saveData
        width: 13px
        height: 13px

    .remember-label
        padding-left: 10px
        font-size: 13px

    .forget-registration-text
        padding-right: 10px
        font-size: 13px

    .registration-button-submit
        margin-top: 10px

    .privacy-information
        font-size: 12px

    //Header
    .header-button
        font-size: 16px

    .header-brand-wrapper
        margin-right: 0

    .ubisoft-logo
        margin-right: 12px

    .brand-name
        display: none

    .header-menu
        align-items: center
        height: 300px

    //Main
    //Window 1  
    .main-greetings-wrapper
        max-width: 270px
        margin: -50px auto

    .main-greetings-header-text
        margin-bottom: 15px
        padding-top: 15px
        font-size: 28px

    .main-greetings-text
        font-size: 18px

    //Window 2  
    .window-2
        justify-content: center
        margin-top: 75px

    .window-2-header
        font-size: 20px

    //First carousel
    .first-carousel-arrow
        position: absolute
        top: 175px
        padding: 3px 8px
        background: #ddd
        border-radius: 15px
        border: 1px solid gray
        font-size: 27px
        line-height: 24px

    .first-carousel-arrow:hover
        background: #527e6e
        border: 1px solid white
        color: white
        cursor: pointer

    .first-carousel-prev
        left: 7px

    .first-carousel-next
        right: 7px

    .first-carousel-wrapper
        position: relative
        width: 250px
        padding: 0

    .first-carousel-inner-wrapper
        overflow: hidden

    .first-carousel-gallery
        display: flex
        width: 9999px

    .first-carousel-link
        text-decoration: none

    .first-carousel-card
        display: flex
        align-items: center
        width: 250px
        height: 450px
        border: 0

    .first-carousel-card-header
        border: 0

    .first-carousel-image
        width: 250px
        height: 350px

    .first-carousel-card-body
        border: 0

    .first-carousel-card-body-text
        margin-top: 10px
        font-size: 18px

    .first-carousel-footer-icons
        width: 20px
        height: 20px

    .first-carousel-footer-icons-double
        width: 24px
        height: 24px

    .window-2-link
        width: 200px
        margin-top: 0
        border-radius: 25px
        font-size: 18px
        font-weight: 900
        color: white
        background-color: #527e6e

    .window-2-link:hover
        border-color: #527e6e
        color: #527e6e
        background-color: white

    //Window 3
    .window-3
        flex-direction: column
        justify-content: space-between
        align-items: center
        min-width: 250px
        height: 540px
        margin: 20px 0
        margin-top: 60px
        background-image: url('../images/Main/mainBackground/historyTour.jpg')
        background-position: center

    .window-3-header
        margin-top: 10px
        margin-bottom: 0
        font-size: 20px
        font-weight: 900
        color: white

    .window-3-link
        width: 200px
        margin-bottom: 5px
        border-radius: 25px
        font-size: 18px
        font-weight: 900
        color: white
        background-color: #ab211a

    .window-3-link:hover
        border-color: #ab211a
        color: #ab211a
        background-color: white

    //Window 4 
    .window-4
        justify-content: center
        margin-top: 60px

    .window-4-header
        font-size: 20px

    //Second carousel
    .second-carousel-arrow
        position: absolute
        top: 540px
        padding: 3px 8px
        background: #ddd
        border-radius: 15px
        border: 1px solid gray
        font-size: 27px
        line-height: 24px

    .second-carousel-arrow:hover
        background: #527e6e
        border: 1px solid white
        color: white
        cursor: pointer

    .second-carousel-prev
        left: 7px

    .second-carousel-next
        right: 7px

    .second-carousel-current-page
        position: absolute
        top: 544px
        left: 97px
        font-size: 18px
        font-weight: 500

    .second-carousel-wrapper
        position: relative
        width: 250px
        padding: 0

    .second-carousel-inner-wrapper
        overflow: hidden

    .second-carousel-gallery
        display: flex
        width: 9999px

    .second-carousel-link
        text-decoration: none

    .second-carousel-card
        display: flex
        align-items: center
        width: 250px
        height: 580px
        margin-top: 0
        border: 0

    .second-carousel-card > div
        margin: 10px 5px 0px 5px

    .second-carousel-card-header
        border: 0
        padding: 0

    .second-carousel-image
        width: 240px
        height: 150px

    .second-carousel-card-body
        border: 0

    .second-carousel-card-body-date
        margin: 10px 0
        font-size: 16px

    .second-carousel-card-body-header-text
        margin-top: 10px 0
        font-size: 18px

    .second-carousel-card-body-main-text
        margin-bottom: 0
        font-size: 16px

    .second-carousel-card-footer
        align-self: flex-start

    .second-carousel-card-footer-link
        font-size: 18px
        text-decoration: none
        color: #527e6e

    .second-carousel-card-footer-link:visited
        color: #527e6e

    .second-carousel-card-footer-link:hover
        text-decoration: underline

    .second-carousel-card-footer-link:active
        color: #527e6e

    .window-4-link
        width: 200px
        border-radius: 25px
        font-size: 18px
        font-weight: 900
        color: white
        background-color: #527e6e

    .window-4-link:hover
        border-color: #527e6e
        color: #527e6e
        background-color: white

    //Window 5
    .window-5
        margin-top: 60px

    .window-5-header
        font-size: 20px

    .window-5-text
        margin-top: 15px
        margin-bottom: 0
        font-size: 16px

    .photo-wrapper
        display: flex
        flex-direction: column
        align-items: center
        height: 960px
        padding: 0
        border: 0

    .photo-card
        align-items: center
        margin-top: 40px
        border: 0

    .photo-card-header
        padding: 0
        border: 0

    .photo-card-image
        width: 240px
        margin: 0 20px

    .photo-card-body
        border: 0

    .photo-card-body-header
        margin-top: 20px
        font-size: 18px
        font-weight: 900

    .photo-card-link
        width: 200px
        margin-top: 10px
        border-radius: 25px
        font-size: 18px
        font-weight: 500
        color: white
        background-color: #527e6e

    .photo-card-link:hover
        border-color: #527e6e
        color: #527e6e
        background-color: white

    //Window 6
    .window-6
        height: 725px
        margin-top: 0

    .icons-wrapper
        display: flex
        flex-direction: column
        justify-content: space-between
        align-items: center
        height: 770px
        padding: 0
        border: 0

    .icon-card
        align-items: center
        border: 0

    .icon-card-header
        padding: 0
        border: 0

    .icon-card-image
        width: 280px

    .icon-card-body
        border: 0

    .icon-card-body-header
        font-size: 18px
        font-weight: 900

    .icon-card-link
        width: 200px
        margin-top: 10px
        border-radius: 25px
        font-size: 18px
        font-weight: 500
        color: white
        background-color: #527e6e

    .icon-card-link:hover
        border-color: #527e6e
        color: #527e6e
        background-color: white

    //Window 7
    .window-7
        flex-direction: column
        justify-content: space-between
        align-items: center
        min-width: 250px
        height: 540px
        margin: 20px 0
        margin-top: 120px
        background-image: url('../images/Main/mainBackgroundStories/stories.jpeg')
        background-position: center

    .window-7-header
        margin-bottom: 0
        font-size: 20px
        font-weight: 900
        color: black

    .window-7-link
        width: 200px
        margin-bottom: 5px
        border-radius: 25px
        font-size: 18px
        font-weight: 900
        color: white
        background-color: #ab211a

    .window-7-link:hover
        border-color: #ab211a
        color: #ab211a
        background-color: white

    //Window 8
    .window-8
        margin-top: 60px

    .window-8-header
        font-size: 28px
        font-weight: 900

    .window-8-first-text
        margin-top: 20px
        font-size: 18px

    .window-8-links-and-rating-wrapper
        margin-top: 40px
        padding: 0

    .window-8-links-and-text-wrapper
        padding: 0

    .window-8-second-text
        font-size: 18px

    .window-8-links-wrapper
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        width: 280px
        padding: 0px 38px

    .window-8-links-icon
        width: 86px
        height: 86px
        margin-bottom: 30px
        border: 2px solid #656565

    .window-8-footer-text
        margin-top: 20px
        font-size: 12px

    .window-8-text-and-rating-wrapper
        display: flex
        flex-direction: column

    .window-8-rating-text
        margin-top: 20px
        font-size: 18px

    .window-8-rating
        width: 75px
        height: 80px
        margin: 0 auto
        padding: 0

    //Footer
    .footer
        display: flex
        flex-direction: column
        margin-top: 60px
        background-color: #212529

    .footer-open-language-button::before
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 20 20' fill='%23ffffff'%3E%3Cpath id='ios-globe' data-name='ios-globe' d='M13.373,3.375h-.034a10,10,0,0,0,0,20h.034a10,10,0,0,0,0-20ZM22.034,12.7H18.3a18.938,18.938,0,0,0-.471-3.663,14.641,14.641,0,0,0,2.389-1.01A8.614,8.614,0,0,1,22.034,12.7Zm-9.334,0H9.729a17.093,17.093,0,0,1,.423-3.322,14.62,14.62,0,0,0,2.547.341Zm0,1.346v2.976a14.682,14.682,0,0,0-2.547.341,17.09,17.09,0,0,1-.423-3.317Zm1.346,0h2.946a16.992,16.992,0,0,1-.423,3.313,14.344,14.344,0,0,0-2.523-.337Zm0-1.346V9.721a14.682,14.682,0,0,0,2.523-.337,17.042,17.042,0,0,1,.423,3.317ZM19.3,7.034a13.351,13.351,0,0,1-1.826.745A9.928,9.928,0,0,0,16.2,5.159,8.7,8.7,0,0,1,19.3,7.034Zm-3.1,1.091a13.524,13.524,0,0,1-2.163.288V4.885A5.825,5.825,0,0,1,16.208,8.125ZM12.7,4.865V8.409a13.291,13.291,0,0,1-2.187-.293A5.822,5.822,0,0,1,12.7,4.865Zm-2.192.308a10.006,10.006,0,0,0-1.264,2.6,13.651,13.651,0,0,1-1.8-.74A8.567,8.567,0,0,1,10.508,5.173ZM6.523,8.034a14.35,14.35,0,0,0,2.365,1A18.174,18.174,0,0,0,8.417,12.7h-3.7A8.57,8.57,0,0,1,6.523,8.034ZM4.711,14.048h3.7a18.889,18.889,0,0,0,.471,3.663,15.226,15.226,0,0,0-2.365,1A8.616,8.616,0,0,1,4.711,14.048Zm2.725,5.668a13.45,13.45,0,0,1,1.807-.74,10.042,10.042,0,0,0,1.264,2.606A8.78,8.78,0,0,1,7.437,19.716Zm3.076-1.087a13.361,13.361,0,0,1,2.187-.293v3.548A5.814,5.814,0,0,1,10.513,18.63Zm3.533,3.236V18.332a13.524,13.524,0,0,1,2.163.288A5.823,5.823,0,0,1,14.046,21.865Zm2.163-.274a9.928,9.928,0,0,0,1.274-2.62,13.131,13.131,0,0,1,1.826.75A8.8,8.8,0,0,1,16.208,21.591Zm4.013-2.875a14.641,14.641,0,0,0-2.389-1.01,18.839,18.839,0,0,0,.471-3.659h3.73A8.577,8.577,0,0,1,20.222,18.716Z' transform='translate(-3.375 -3.375)'/%3E%3C/svg%3E%0A")
        margin-right: 10px

    .footer-open-language-button
        display: flex
        justify-content: center
        align-items: start
        margin-top: 20px
        font-size: 20px
        font-weight: 900
        color: white

    .footer-open-language-button:hover
        border: 1px solid #212529
        color: white

    .footer-open-language-button::after
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='arrow-down-mini down' viewBox='-122.9 121.1 105.9 61.9' width='10px' height='10px' style='fill: %23ffffff;'%3E%3Cpath d='M-63.2 180.3l43.5-43.5c1.7-1.7 2.7-4 2.7-6.5s-1-4.8-2.7-6.5c-1.7-1.7-4-2.7-6.5-2.7s-4.8 1-6.5 2.7L-69.9 161l-37.2-37.2c-1.7-1.7-4-2.7-6.5-2.7s-4.8 1-6.5 2.6c-1.9 1.8-2.8 4.2-2.8 6.6 0 2.3.9 4.6 2.6 6.5 11.4 11.5 41 41.2 43 43.3l.2.2c3.6 3.6 10.3 3.6 13.9 0z'%3E%3C/path%3E%3C/svg%3E")
        margin-left: 10px

    .footer-open-language-button:focus
        border: 1px solid #212529
        color: white

    //Footer offcanvas
    .offcanvas-header
        padding: 10px

    .footer-offcanvas-header-text
        color: white

    .offcanvas-footer-button
        border: 0
        background-color: #212529

    .offcanvas-hr
        width: 90%
        margin: 0 auto
        border: 1px solid white
        opacity: 0.7

    .offcanvas-language-wrapper
        text-decoration: none

    .offcanvas-language::before
        content: ">"
        margin-right: 5px
        font-size: 17px

    .offcanvas-language
        margin: 0
        font-size: 14px
        color: white

    .offcanvas-language-active
        color: #527e6e

    //Continue footer
    .footer-company-wrapper-links
        display: flex
        flex-direction: column
        align-items: center
        margin-top: 10px

    .footer-company-link
        padding: 10px 0
        font-size: 18px
        font-weight: 900
        text-decoration: none
        color: white

    .footer-logo-wrapper
        display: flex
        justify-content: center
        margin-top: 25px
        text-decoration: none

    .footer-ubisoft-logo
        width: 30px
        height: 30px
        margin-right: 5px

    .footer-logo-name
        font-size: 20px
        font-weight: 900
        color: white

    .footer-company-wrapper-rules
        display: flex
        flex-direction: column
        align-items: center
        margin-top: 10px

    .footer-company-rule
        padding: 10px 0
        font-size: 18px
        font-weight: 900
        text-decoration: none
        color: white

@include media-breakpoint-up(sm)
    //Modal Window
    .modal-body
        height: 420px

    .text-label
        font-size: 20px

    //Header
    .header-drop-ancor
        font-size: 20px

    //Main
    //Window 1  
    .main-greetings-wrapper
        max-width: 550px
        margin: -150px auto

    .main-greetings-header-text
        font-size: 45px

    .main-greetings-text
        font-size: 22px

    //Window 2  
    .window-2
        margin-top: 175px

    .window-2-header
        font-size: 25px

    //First carousel
    .first-carousel-arrow
        padding: 6px 13px
        border-radius: 48px
        font-size: 30px

    .first-carousel-prev
        left: 10px

    .first-carousel-next
        right: 10px

    .first-carousel-wrapper
        width: 550px

    .first-carousel-card
        width: 265px
        margin: 0 5px

    .first-carousel-image
        width: 265px

    .first-carousel-card-body-text
        font-size: 19px

    .window-2-link
        width: 210px
        font-size: 19px

    //Window 3
    .window-3
        margin-top: 100px

    .window-3-header
        font-size: 25px

    .window-3-link
        width: 210px
        font-size: 19px

    //Window 4  
    .window-4
        margin-top: 100px

    .window-4-header
        font-size: 25px

    //Second carousel
    .second-carousel-arrow
        top: 670px
        padding: 6px 13px
        border-radius: 48px
        font-size: 30px

    .second-carousel-current-page
        top: 670px
        left: 242px
        font-size: 25px

    .second-carousel-wrapper
        width: 550px

    .second-carousel-card
        width: 265px
        height: 700px
        margin: 0 5px

    .second-carousel-image
        width: 230px

    .second-carousel-card-body-date
        font-size: 21px

    .second-carousel-card-body-header-text
        font-size: 23px

    .second-carousel-card-body-main-text
        font-size: 21px

    .second-carousel-card-footer-link
        font-size: 23px

    .window-4-link
        width: 210px
        font-size: 19px

    //Window 5
    .window-5
        margin-top: 100px

    .window-5-header
        font-size: 25px

    .window-5-text
        font-size: 21px

    .photo-wrapper
        height: 1461px

    .photo-card
        margin-top: 60px

    .photo-card-image
        width: 540px
        margin: 0 20px

    .photo-card-body-header
        font-size: 23px

    .photo-card-link
        width: 210px
        font-size: 19px

    //Window 6
    .window-6
        height: 990px
        margin-top: 60px

    .icons-wrapper
        height: 1067px

    .icon-card-image
        width: 575px

    .icon-card-body-header
        font-size: 23px

    .icon-card-body-text
        font-size: 21px

    .icon-card-link
        width: 210px
        font-size: 19px

    //Window 7
    .window-7
        margin-top: 140px

    .window-7-header
        font-size: 25px

    .window-7-link
        width: 210px
        font-size: 19px

    //Window 8
    .window-8
        margin-top: 100px

    .window-8-header
        font-size: 45px

    .window-8-first-text
        margin-top: 30px
        font-size: 22px

    .window-8-second-text
        font-size: 22px

    .window-8-links-wrapper
        width: 450px
        margin: 10px auto
        padding: 0

    .window-8-footer-text
        font-size: 16px

    .window-8-rating-text
        font-size: 22px

    //Footer
    .footer
        margin-top: 100px

    .footer-open-language-button
        font-size: 22px

    //Footer offcanvas
    .offcanvas-language
        font-size: 16px

    //Continue footer
    .footer-company-link
        font-size: 20px

    .footer-logo-name
        font-size: 22px

    .footer-company-rule
        font-size: 20px

@include media-breakpoint-up(md)
    //Modal Window
    .registration-button-submit
        margin-top: 40px

    .footer-text
        font-size: 20px

    .privacy-information
        font-size: 16px

    //Header
    .header-drop-ancor
        font-size: 22px

    //Main
    //Window 1  
    .main-greetings-wrapper
        max-width: 750px
        margin: -200px auto

    .main-greetings-header-text
        font-size: 60px
        padding-top: 25px

    .main-greetings-text
        font-size: 23px

    //Window 2  
    .window-2
        margin-top: 200px

    .window-2-header
        margin-bottom: 25px
        font-size: 34px

    //First carousel
    .first-carousel-arrow
        font-size: 29px
        line-height: 23px

    .first-carousel-prev
        left: 15px

    .first-carousel-next
        right: 15px

    .first-carousel-wrapper
        width: 740px

    .first-carousel-card
        width: 350px
        margin: 0 10px

    .first-carousel-card-header
        padding: 0

    .first-carousel-image
        width: 350px

    .first-carousel-card-body-text
        margin-top: 15px
        font-size: 24px

    .first-carousel-footer-icons
        width: 25px
        height: 25px

    .first-carousel-footer-icons-double
        width: 30px
        height: 30px

    .window-2-link
        width: 250px
        font-size: 24px

    //Window 3
    .window-3
        margin-top: 125px

    .window-3-header
        font-size: 34px

    .window-3-link
        width: 250px
        font-size: 24px

    //Window 4
    .window-4
        margin-top: 125px

    .window-4-header
        margin-bottom: 25px
        font-size: 34px

    //Second carousel
    .second-carousel-arrow
        top: 572px
        padding: 10px 10px
        border-radius: 36px
        font-size: 50px
        line-height: 23px

    .second-carousel-prev
        left: 15px

    .second-carousel-current-page
        top: 567px
        left: 330px
        font-size: 34px

    .second-carousel-next
        right: 15px

    .second-carousel-wrapper
        width: 740px

    .second-carousel-card
        width: 350px
        height: 580px
        margin: 0 10px

    .second-carousel-card-header
        padding: 0

    .second-carousel-image
        width: 350px

    .second-carousel-card-body-date
        font-size: 20px

    .second-carousel-card-body-header-text
        margin-top: 15px
        font-size: 24px

    .second-carousel-card-body-main-text
        font-size: 20px

    .second-carousel-card-footer-link
        font-size: 24px

    .window-4-link
        width: 250px
        margin-top: 50px
        font-size: 24px

    //Window 5
    .window-5-header
        font-size: 34px

    .window-5-text
        font-size: 20px

    .photo-wrapper
        height: 2010px

    .photo-card-image
        width: 730px
        margin: 0 20px

    .photo-card-body-header
        font-size: 24px

    .photo-card-link
        width: 250px
        font-size: 24px

    //Window 6
    .window-6
        height: 1250px
        margin: 0

    .icons-wrapper
        height: 1300px

    .icon-card-image
        width: 765px

    .icon-card-body-header
        font-size: 24px

    .icon-card-body-text
        font-size: 20px

    .icon-card-link
        width: 250px
        margin-top: 30px
        font-size: 24px

    //Window 7
    .window-7
        margin-top: 200px

    .window-7-header
        font-size: 34px
        color: red

    .window-7-link
        width: 250px
        font-size: 24px

    //Window 8
    .window-8
        margin-top: 125px

    .window-8-header
        font-size: 60px

    .window-8-first-text
        margin-top: 35px
        font-size: 23px

    .window-8-second-text
        font-size: 23px

    .window-8-links-wrapper
        width: 500px

    .window-8-footer-text
        font-size: 17px

    .window-8-rating-text
        font-size: 23px

    //Footer
    .footer
        margin-top: 125px

    .footer-open-language-button
        font-size: 23px

    //Footer offcanvas
    .offcanvas-language
        font-size: 17px

    //Continue footer
    .footer-company-link
        font-size: 21px

    .footer-logo-name
        font-size: 23px

    .footer-company-rule
        font-size: 21px

@include media-breakpoint-up(lg)
    //Header
    .navbar-brand
        margin-right: 10px

    //Header menu
    .header-wrapper-menu
        justify-content: center
        height: 50px

    .header-menu
        justify-content: space-evenly
        align-items: center
        height: 50px
        margin-top: 0
        padding: 0
        background-image: url('')

    .header-drop-ancor
        padding: 0
        font-size: 18px

    //Main
    //Window 1  
    .main-greetings-wrapper
        max-width: 800px
        margin: -250px auto

    .main-greetings-header-text
        font-size: 64px
        margin-bottom: 25px

    //Window 2  
    .window-2
        margin-top: 125px

    .window-2-header
        font-size: 34px

    //First carousel
    .first-carousel-wrapper
        width: 980px

    .first-carousel-card
        width: 235px
        margin: 0 5px

    .first-carousel-image
        width: 235px

    .first-carousel-card-body-text
        font-size: 17px

    //Window 3
    .window-3
        background-image: url('../images/Main/mainBackground/historyTourBig.jpg')
        background-position: top

    .window-3-header
        margin-top: 0
        font-size: 34px

    //Window 4
    .window-4
        margin-top: 125px

    .window-4-header
        margin-bottom: 0
        font-size: 34px

    //Second carousel
    .second-carousel-arrow
        top: 660px

    .second-carousel-button-wrapper
        position: absolute
        top: 670px
        left: 370px

    .second-carousel-button
        width: 80px
        height: 13px
        border: 1px solid #c1c1c1
        background-color: #c1c1c1

    .active-second-carousel-button
        background-color: #6f6f6f

    .second-carousel-wrapper
        width: 980px
        margin-top: 20px

    .second-carousel-card
        width: 235px
        height: 650px
        margin: 0 5px

    .second-carousel-image
        width: 235px

    .second-carousel-card-body-header-text
        font-size: 22px

    .second-carousel-card-footer-link
        font-size: 22px

    .window-4-link
        margin-top: 100px

    //Window 5
    .window-5
        margin-top: 125px

    .photo-wrapper
        flex-direction: row
        align-items: start
        height: 440px

    .photo-card-image
        width: 300px
        margin: 0 20px

    .photo-card-body-header
        font-size: 22px

    //Window 6
    .window-6
        height: 500px

    .icons-wrapper
        height: 500px
        flex-direction: row
        justify-content: space-around
        align-items: start

    .icon-card-wrapper
        width: 390px

    .icon-card-image
        width: 400px

    .icon-card-body-header
        font-size: 22px

    //Window 7
    .window-7
        margin-top: 125px
        background-image: url('../images/Main/mainBackgroundStories/storiesBig.jpg')
        background-position: top

    .window-7-header
        font-size: 34px

    //Window 8
    .window-8
        margin-top: 75px

    .window-8-header
        font-size: 64px

    .window-8-first-text
        margin-top: 45px

    .window-8-links-wrapper
        width: 600px

    //Footer
    .footer
        margin-top: 75px

@include media-breakpoint-up(xl)
    //Main
    //Window 1  
    .main-greetings-wrapper
        max-width: 950px
        margin: -300px auto

    .main-greetings-header-text
        font-size: 80px
        padding-top: 30px

    .main-greetings-text
        font-size: 25px

    //Window 2  
    .window-2
        margin-top: 150px

    .window-2-header
        font-size: 40px

    //First carousel
    .first-carousel-wrapper
        margin-top: 25px

    .first-carousel-wrapper
        width: 1180px

    .first-carousel-card
        width: 275px
        margin: 0 10px

    .first-carousel-image
        width: 275px

    .first-carousel-card-body-text
        margin-top: 20px
        font-size: 20px

    .first-carousel-footer-icons
        width: 30px
        height: 30px

    .first-carousel-footer-icons-double
        width: 35px
        height: 35px

    .window-2-link
        margin-top: 30px

    //Window 3
    .window-3
        margin-top: 150px

    .window-3-header
        font-size: 40px

    //Window 4
    .window-4
        margin-top: 150px

    .window-4-header
        font-size: 40px

    //Second carousel
    .second-carousel-arrow
        top: 625px

    .second-carousel-button-wrapper
        top: 630px
        left: 465px

    .second-carousel-wrapper
        width: 1180px
        margin-top: 25px

    .second-carousel-card
        width: 275px
        margin: 0 10px

    .second-carousel-image
        width: 275px

    .second-carousel-card-body-header-text
        margin-top: 20px
        font-size: 22px

    .second-carousel-footer-icons
        width: 30px
        height: 30px

    .second-carousel-footer-icons-double
        width: 35px
        height: 35px

    .window-4-link
        margin-top: 30px

    //Window 5
    .window-5
        margin-top: 150px

    .window-5-header
        font-size: 40px

    .window-5-text
        font-size: 20px

    .photo-wrapper
        height: 350px

    .photo-card-image
        width: 350px
        margin: 0 20px

    .photo-card-body-header
        font-size: 22px

    //Window 6
    .window-6
        height: 375px
        margin-top: 150px

    .icons-wrapper
        height: 355px

    .icon-card-wrapper
        width: 390px

    .icon-card-image
        width: 250px

    .icon-card-body-header
        font-size: 22px

    //Window 7
    .window-7-header
        margin-top: 150px
        font-size: 40px

    //Window 8
    .window-8
        margin-top: 75px

    .window-8-header
        font-size: 80px

    .window-8-first-text
        font-size: 25px

    .window-8-links-and-rating-wrapper
        display: flex
        justify-content: space-between
        align-items: baseline
        margin-top: 20px
        padding: 0 40px

    .window-8-second-text
        font-size: 25px

    .window-8-links-icon
        margin-bottom: 0

    .window-8-footer-text
        font-size: 19px

    .window-8-rating-text
        font-size: 25px

    //Footer
    .footer
        flex-direction: row
        justify-content: space-around
        margin-top: 75px

    .window-8-footer-text
        margin-top: 75px

    .footer-open-language-button
        font-size: 23px

    //Footer offcanvas
    .footer-offcanvas-header-text
        font-size: 22px

    .offcanvas-body
        overflow: hidden

    .offcanvas-language
        font-size: 18px

    //Continue footer
    .footer-company-link
        font-size: 23px

    .footer-logo-name
        font-size: 23px

    .footer-company-rule
        font-size: 23px

@include media-breakpoint-up(xxl)
    //Main
    //Window 1      
    .main-greetings-wrapper
        max-width: 1200px
        margin: -350px auto

    .main-greetings-header-text
        font-size: 87px

    .main-greetings-text
        font-size: 30px

    //Window 2  
    .window-2
        margin-top: 175px

    .window-2-header
        font-size: 50px

    //First carousel
    .first-carousel-arrow
        top: 250px
        padding: 3px 10px
        border-radius: 21px
        font-size: 39px
        line-height: 38px

    .first-carousel-prev
        left: 25px

    .first-carousel-next
        right: 25px

    .first-carousel-wrapper
        width: 1390px

    .first-carousel-card
        width: 325px
        height: 585px
        margin: 0 10px

    .first-carousel-image
        width: 325px
        height: 500px

    .first-carousel-card-body-text
        margin-top: 15px
        font-size: 23px

    .first-carousel-footer-icons
        width: 30px
        height: 30px

    .first-carousel-footer-icons-double
        width: 35px
        height: 35px

    .window-2-link
        width: 300px
        margin-top: 50px
        font-size: 28px

    //Window 3
    .window-3
        margin-top: 175px

    .window-3-header
        font-size: 50px

    .window-3-link
        width: 300px
        font-size: 28px

    //Window 4  
    .window-4
        margin-top: 175px

    .window-4-header
        font-size: 50px

    //Second carousel
    .second-carousel-arrow
        top: 640px
        padding: 3px 10px
        border-radius: 21px
        font-size: 39px
        line-height: 38px

    .second-carousel-prev
        left: 25px

    .second-carousel-next
        right: 25px

    .second-carousel-button-wrapper
        top: 650px
        left: 575px

    .second-carousel-wrapper
        width: 1390px
        margin-top: 25px

    .second-carousel-card
        width: 325px
        height: 650px
        margin: 0 10px

    .second-carousel-image
        width: 325px
        height: 200px

    .second-carousel-card-body-header-text
        margin-top: 15px
        font-size: 24px

    .second-carousel-card-footer-link
        font-size: 24px

    .window-4-link
        width: 300px
        margin-top: 40px
        font-size: 28px

    //Window 5
    .window-5
        margin-top: 175px

    .window-5-header
        font-size: 50px

    .window-5-text
        font-size: 20px

    .photo-wrapper
        margin-top: 30px

    .photo-card-image
        width: 400px

    .photo-card-body-header
        font-size: 24px

    .photo-card-link
        width: 300px
        font-size: 28px

    //Window 6
    .window-6
        height: 450px
        margin-top: 175px

    .icon-card-image
        width: 350px

    .icon-card-body-header
        font-size: 24px

    .icon-card-link
        width: 300px
        font-size: 28px

    //Window 7
    .window-7
        margin-top: 175px

    .window-7-header
        font-size: 50px

    .window-7-link
        width: 350px
        font-size: 28px

    //Window 8
    .window-8
        margin-top: 100px

    .window-8-header
        font-size: 87px

    .window-8-first-text
        font-size: 30px

    .window-8-second-text
        font-size: 30px

    .window-8-footer-text
        margin-top: 100px
        font-size: 24px

    .window-8-rating-text
        font-size: 30px

    //Footer
    .footer
        margin-top: 75px